<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:security="http://www.springframework.org/schema/security"  
  xmlns:oauth="http://www.springframework.org/schema/security/oauth2"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
              http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
              http://www.springframework.org/schema/security/oauth2 http://www.springframework.org/schema/security/spring-security-oauth2.xsd" xmlns:aop="http://www.springframework.org/schema/aop">


  <security:http  auto-config='true' access-denied-page="/login.jsp" entry-point-ref="authPoint"  >
    <security:intercept-url pattern="/sparklr/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
    <security:intercept-url pattern="/facebook/**" access="ROLE_USER" />
    <security:intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />

    <security:form-login authentication-failure-url="/login.jsp" 
                         default-target-url="/index.jsp" 
                         login-page="/login.jsp" 
                         login-processing-url="/login.do"/>
    <security:logout logout-success-url="/index.jsp" logout-url="/logout.do"/>
  </security:http>

  <security:authentication-manager alias="userAuthenticationManager">
    <security:authentication-provider>
      <security:user-service>
        <security:user name="marissa" password="wombat" authorities="ROLE_USER" />
        <security:user name="sam" password="kangaroo" authorities="ROLE_USER" />
      </security:user-service>
    </security:authentication-provider>
  </security:authentication-manager>
  
    
    <bean id="authPoint" class="com.eventestimator.oauth2Client.RovingAuthenticationEntryPoint" >
        <property name="loginFormUrl" value="/error.jsp" />
    </bean> 



  <!--apply the oauth client context-->
  <oauth:client token-services-ref="oauth2TokenServices" profile-manager-ref="ctctProfileManager" />
  
  <bean id="ctctProfileManager" class="org.springframework.security.oauth2.consumer.OAuth2ProfileChain" >
           <constructor-arg>
            <list>
                <bean class="com.eventestimator.oauth2Client.RovingWebServerProfile" />
            </list>
           </constructor-arg>
  </bean>
    
  <bean id="oauth2TokenServices" class="org.springframework.security.oauth2.consumer.token.InMemoryOAuth2ClientTokenServices"/>
<oauth:resource id="prod" type="authorization_code" clientId="SSbfe53385-0b89-4a8c-bc4d-e2753f991580" clientSecret="371fc2166fc849f59d8c30057b534696"
           accessTokenUri="https://oauth2.constantcontact.com/oauth2/oauth/token"
                 userAuthorizationUri="https://oauth2.constantcontact.com/oauth2/oauth/siteowner/authorize"/>

    <bean id="castorMarshaller" class="org.springframework.oxm.castor.CastorMarshaller" />

  <!--define an oauth 2 resource for facebook. according to the facebook docs, the 'clientId' is the App ID, and the 'clientSecret' is the App Secret -->
  <oauth:resource id="facebook" type="authorization_code" clientId="162646850439461" clientSecret="560ad91d992d60298ae6c7f717c8fc93"
                  bearerTokenMethod="query" accessTokenUri="https://graph.facebook.com/oauth/access_token"
                  userAuthorizationUri="https://www.facebook.com/dialog/oauth"/>

    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
    </bean>
</beans>
