<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd" xmlns:aop="http://www.springframework.org/schema/aop">

  <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="location" value="classpath:sparklr.properties"/>
  </bean>

  <!--Basic application beans.-->
  <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="prefix" value="/WEB-INF/jsp/"/>
    <property name="suffix" value=".jsp"/>
  </bean>

  <bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
    <property name="mappings">
      <props>
        <prop key="/ClientFlowMVC">clientFlowController</prop>
      </props>
    </property>
    <property name="alwaysUseFullPath" value="true"/>
  </bean>

  <bean id="clientFlowController" class="org.springframework.security.oauth.examples.ctctOAuth2WebClient.mvc.ClientFlowController">
    <property name="clientFlowService" ref="clientFlowService"/>
  </bean>


  <bean id="realRequestFactory" class="org.springframework.http.client.SimpleClientHttpRequestFactory" />

 <bean id="clientFlowService" class="org.springframework.security.oauth.examples.ctctOAuth2WebClient.impl.ClientFlowServiceImpl" />
    


</beans>
